In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
dataset = pd.read_csv('daily-total-female-births.csv')
dataset.sample(8)

           Date  Births
188  1959-07-08      46
237  1959-08-26      50
263  1959-09-21      59
42   1959-02-12      45
318  1959-11-15      40
214  1959-08-03      41
57   1959-02-27      37
364  1959-12-31      50

In [3]:
series = pd.read_csv('daily-total-female-births.csv', header = 0, index_col = 0, parse_dates = True, squeeze = True)
series

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
              ..
1959-12-27    37
1959-12-28    52
1959-12-29    48
1959-12-30    55
1959-12-31    50
Name: Births, Length: 365, dtype: int64

In [ ]:
groups = series.groupby(pd.Grouper('M'))

group