## Daily Female Births

In [1]:
# importing libraries

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# cheching the dataset

dataset = pd.read_csv('daily-total-female-births.csv')
dataset.sample(8)

           Date  Births
227  1959-08-16      45
88   1959-03-30      50
254  1959-09-12      53
208  1959-07-28      43
299  1959-10-27      28
279  1959-10-07      42
322  1959-11-19      47
202  1959-07-22      38

In [3]:
series = pd.read_csv('daily-total-female-births.csv', header = 0, index_col = 0, parse_dates = True, squeeze = True)
series

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
              ..
1959-12-27    37
1959-12-28    52
1959-12-29    48
1959-12-30    55
1959-12-31    50
Name: Births, Length: 365, dtype: int64

In [4]:
# number of observation
print(series.size)

365

In [5]:
# descriptive statistics

print(series.describe())

count    365.000000
mean      41.980822
std        7.348257
min       23.000000
25%       37.000000
50%       42.000000
75%       46.000000
max       73.000000
Name: Births, dtype: float64

## Feature Engineering

In [6]:
# creating date time feature of the series

dataframe = pd.DataFrame()

dataframe['Year'] = [series.index[i].year for i in range(len(series))]
dataframe['Month'] = [series.index[i].month for i in range(len(series))]
dataframe['Day'] = [series.index[i].day for i in range(len(series))]
dataframe['Births'] = [series[i] for i in range(len(series))]

dataframe

     Year  Month  Day  Births
0    1959      1    1      35
1    1959      1    2      32
2    1959      1    3      30
3    1959      1    4      31
4    1959      1    5      44
..    ...    ...  ...     ...
360  1959     12   27      37
361  1959     12   28      52
362  1959     12   29      48
363  1959     12   30      55
364  1959     12   31      50

[365 rows x 4 columns]

In [ ]:
# creating of