In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('daily-minimum-temperatures.csv')
dataset.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [3]:
series = pd.read_csv('daily-minimum-temperatures.csv', header = 0, index_col = 0, parse_dates=True, squeeze = True)
series

Date
1981-01-01    20.7
1981-01-02    17.9
1981-01-03    18.8
1981-01-04    14.6
1981-01-05    15.8
              ...
1990-12-27    14.0
1990-12-28    13.6
1990-12-29    13.5
1990-12-30    15.7
1990-12-31    13.0
Name: Temp, Length: 3650, dtype: float64

In [4]:
# creating lag features

temperatures = pd.DataFrame(series.values)

dataframe = pd.concat([temperatures.shift(3), temperatures.shift(2), temperatures.shift(1), temperatures], axis = 1)
dataframe.columns = ['t-2', 't-1', 't', 't+1']
dataframe.head(7)

    t-2   t-1     t   t+1
0   NaN   NaN   NaN  20.7
1   NaN   NaN  20.7  17.9
2   NaN  20.7  17.9  18.8
3  20.7  17.9  18.8  14.6
4  17.9  18.8  14.6  15.8
5  18.8  14.6  15.8  15.8
6  14.6  15.8  15.8  15.8

In [10]:
# adding summaries of values
temps = pd.DataFrame(series.values)

shifted = temps.shift(1)
window = shifted.rolling(window=2)
mean = window.mean()

dataframe = pd.concat([means, temps], axis=1)
dataframe.columns = ['mean(t-1, t)', 't+1']
print(dataframe.head(7))

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements